<title>NJIT GSA</title>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<header class="container">


    <div class="row ">
        <h1 class="col-sm-4">Graduate Student Association</h1>


        <div class="col-sm-8 text-center">
            <h2 class="col-sm-8"> 2018 Senate</h2>

            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwFT4RcUO1MBVu4e-ODOzh2YGlUSNhErheTIJ4UfB_ozE580dK">


        </div>

    </div>
</header>