{% extends "layout.html" %}

{% block content %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Graduate Student Association</h1>
            <a href="http://gsa.njit.edu/" class="lang-logo">
                <img src="http://gsa.njit.edu/assets/img/G3.png" class="img-rounded" alt="Cinque Terre" width="304" height="236">>
            </a>

            <p> Welcome Highlanders! GSA produly presents the 2018 E-BOARD members</p>
            <a type="button" class="btn btn-lg btn-default" href="http://gsa.njit.edu/about_us.html"><span class="glyphicon glyphicon-education"></span> About US</a>
            <a type="button" class="btn btn-lg btn-primary" href="http://gsa.njit.edu/Department.html"><span class="glyphicon glyphicon-user"></span>Department Representatives</a>
            <hr>
          <div class="row text-left">
            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Position</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Monica</td>
                    <td>Geller</td>
                    <td>Presdient</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Chandler</td>
                    <td>Bing</td>
                    <td>Secretary</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Joey</td>
                    <td>Tribiyani</td>
                    <td>Student Affairs</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Barney</td>
                    <td>Stinston</td>
                    <td>Treasurer</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Ross</td>
                    <td>Geller</td>
                    <td>Vice President PR</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Jake</td>
                    <td>Peralta</td>
                    <td>Vice President Admin</td>
                </tr>

                <tr>
                    <th scope="row">7</th>
                    <td>Rachel</td>
                    <td>Green</td>
                    <td>Technology Officer</td>
                </tr>


                </tbody>
            </table>

        </div>
        </div>
    <div class="container">
        <div class="alert alert-info text-center" role="alert">
            REMINDER: Fresher's party postponed to September 23rd.Location and timings will be posted soon
        </div>
        <hr>
        <div class="row text-left">
            <div class="col-md-8">
                <h3><span class="glyphicon glyphicon-info-sign"></span> What we do</h3>

                    <p>The GSA or the Graduate Student Association represnts the student body of the master's and the PhD students at NJIT.GSA offers variety of clubs and student organizations to help students get involved and settled at NJIT</p>

            </div>
            <div class="row text-left">
                <div class="col-md-8">
                    <p>We work  together with university leaders like the President,directors and Deans in any issues concerning the students at NJIT.The GSA rewards students representing NJIT at professional seminars and conferneces.GSA also hosts social and educational events to get student engage and network with the students at NJIT</p>
                </div>
            </div>
            <div class="row text-left">
                <div class="col-md-8">
                    <p>We appoint student representatives from all departments so that students can reach them for any feedback or queries.Representative work with the office administration to resolve any issues.Here is the<a href="http://gsa.njit.edu/Department.html"> list</a> of student representatives for the year 2018</p>
                </div>
            </div>


        </div> <!-- row -->
        <div class="alert alert-info text-center" role="alert">
            Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
        </div>
    </div>
<footer class="container">
    <div class="row">
        <p class="col-sm-4">
            &copy; GSA NJIT
        </p>
        <div class="row">
            <p class="col-sm-1">

                <img src="http://gsa.njit.edu/assets/img/G3.png" style="width: 50px">
            </p>

            <div class="row text-center">
                <a class="btn btn-primary" href="http://gsa.njit.edu/index.html" role="button">Contact us</a></div>


        </div>
{% endblock %}
