<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="http://gsa.njit.edu/"><span class="glyphicon glyphicon-home"></span> GSA Home</a>
      </li>
      <li>
        <a href="http://gsa.njit.edu/events.html"><span class="glyphicon glyphicon-film"></span> Events</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Clubs<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="http://clubs.njit.edu/cssa/">Chinese Students and Scholors</a></li>
            <li><a href="http://deepcs.njit.edu/">DeepCS</a></li>
            <li><a href="http://clubs.njit.edu/swe/gradSWE.html">Society of Women Engineer's</a></li>
            <li><a href="https://www.facebook.com/SAGA.NJIT/">SAGA</a></li>
            <li><a href="https://sites.google.com/a/njit.edu/sanskar/">Sanskar-Indian students club</a></li>

          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="http://gsa.njit.edu/join_us.html"><span class="glyphicon glyphicon-book"></span> Join Us</a>
      </li>
    </ul>
  </div>
</nav>
